
body{
    margin: 0;
    padding: 0;
    background-color: #f7f5f0;
}


hr{
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid #eee;
 }

.title_story{
    left: 20%;
    margin: 30px;
    position: absolute;
    display: flex;
    z-index: 1;
}

.Title_content{
    margin-top: 20px;
    width: 500px;
    height: fit-content;
    margin-left: 100px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 10px;
}
.Title_content:hover{
    color: #845e00cb;
}

.image_story img{
    width: 300px;
    box-shadow: -5px 10px 20px 0px #989691;
}

.infor_content{
    height: fit-content;
}
.infor_content a{
    display: block;
}
.nameauthor_content{
    font-size: 15px;
    font-weight: 600;
    margin: 30px;
    margin-left: 100px;
}

main {
    width: 1200px;
    position: relative;
    margin-top: 220px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0px 0px 2px 0px #ffffff;
}

/*Content ở trên*/
.left-content{
    padding: 20px;
    display: flex;
}
.left-content img{
    width: 210px;
    height: 280px;
}

.header_content{
    z-index: 2;
    padding-left: 550px;
}

.infor_story{
    margin-top: 0px;
    display: flex;
}
.infor_story ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    text-align: left;
}
.infor_story li{
    margin: 0px 30px 20px 0px;
}
.infor_story a{
    display: block;
    margin-top: 10px;
}
.number{
    font-weight: 600;
}
.rating_bar{
    padding-top: 10px;
    align-items: center;
}


/*Nav move page*/

.nav_page_redirect{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    justify-content: space-between;
}
.nav_page_redirect i{
    margin: 5px;
}

.nav-pre-page {
    width: 150px;
    height: 40px;
    margin: 50px 50px 10px 50px;
    border-radius: 20px ;
    text-decoration: none;
    background-color: #F1EDE2;
    text-align: center;
    line-height: 40px;
    color: black;
    font-weight:bold;
}

.nav-pre-page:hover{
    color: rgb(92, 92, 92);
}
.nav-next-page {
    width: 150px;
    height: 40px;
    margin: 50px 50px 10px 50px;
    border-radius: 20px ;  
    text-decoration: none;
    background-color: #F1EDE2;
    text-align: center;
    line-height: 40px;
    color: black;
    font-weight:bold;
}

.nav-next-page:hover {
    color: rgb(92, 92, 92);
}

/*Main content right*/
.main_content_right {
    margin: 0px 50px 0px 50px;
}

.main_content_right h1{
    font-weight: lighter;
}

.list_infor{
    display: flex;
    margin-bottom: 30px
}

.list_infor p{
    margin: 0px 25px 0px 0px;
}

.list_infor i{
    margin: 0px 10px 0px 0px;
}

.article{
    font-size: 26px;
}