/* 
* @header
*
*
*
*/
*{
    font-family: 'Source Sans Pro';
}
nav{
    display: block;
}
.nav{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f7f5f0;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.nav li a{
    display: block;
    text-align: center;
    padding: 25px 30px;
    text-decoration: none;
    font-size: 16px;
}

.nav li a:hover{
    color: #d79a00cb;
}

.menu:hover{
    color: #d79a00cb;
    background-color: none;
    transform: scale(1.1);
}

#login{
    font-weight: normal;
    transition: transform .2s;
}

#register{
    font-weight: normal;
    transition: transform .2s;
}


.dropdown{
    list-style-type: none;
    margin: 0px;
    display: none;
    position: absolute;
    width: 150px;
    height: 230px;
    border: 1;
    background-color: #f8f8f8;
    z-index: 99;
}
.dropdown li{
    display: block;
    margin: 0%;
    color:  #ffc022;
}
.dropdown li a{
    text-align: left;
    padding: 10px;
}
li:hover .dropdown{
    padding: 8px 8px;
    display: block;
}
.submenu{
    margin: 0;
    padding: 0;
}
.submenu:hover{
    color:  #ffc022;
}


.search input[type=text] {
    width: 300px;
    height: 40px;
    padding-left: 10px;
    border-radius: 15px;
    border: none;
    outline-color: #ffd365;

}

.search {
    width: 300px;
    height: 40px;
    padding-top: 15px;
    border-radius: 15px;
    margin: 0px 50px 0px 50px;
}


/* Login */
.modal_login{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    z-index: 2;
}
.form_login{
    top: 10%;
    position: relative;
    margin:auto;
    background-color: white;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    text-align: right;
    font-size: 15px
}
.form_login i{
    padding: 10px;
    transition: transform .2s;
}
.form_login i:hover{
    transform: scale(2);
}
.modal__inner_login{
    width: 400px;
    height: 450px;
    position: relative;
    margin:auto;
    border-radius: 10px;
    overflow: hidden;

}
.modal__header_login{
    text-align: right;
}

.modal__header_login p{
    margin: 0;
    text-align: center;
    font-size:25px;
    font-weight:bold;
}

.modal__body_login{
    padding: 10px;
    text-align: center;
}
.header_form_login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_form_login a{
    color: #d79a00cb;
}
.header_form_login a:hover{
    color: #845e00cb;
}

.modal__inner_login input[type=text], .modal__inner_login input[type=password] {
    width: 370px;
    height: 40px; 
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #f7f5f0;
}

.modal_footer_login{
    padding: 10px;
    text-align: center;
}

.modal_footer_login button{
    font-size: medium;
    color: white;
    padding: 10px 20px;
    background-color: rgb(183,138,40);
    border: none;
    outline: none;
    cursor: pointer;
    width: 270px;
    height: 50px; 
    border-radius: 20px;
    transition: width 1s;
}
.modal_footer_login button:hover{
    background-color: #845e00cb;
    width: 370px;
}
.modal_footer_login p{
    position: relative;
    margin-top: 50px;
}
.modal_footer_login a{
    color: #d79a00cb;
}
.modal_footer_login a:hover{
    color: #845e00cb;
}



/*Register*/
.modal_register{
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.6);
    z-index:2;
}
.form_register{
    top: 10%;
    position: relative;
    margin:auto;
    background-color: white;
    width: 500px;
    height: 450px;
    border-radius: 10px;
    text-align: right;
    font-size: 15px
}

.form_register i{
    padding: 10px;
    transition: transform .2s; 
}
.form_register i:hover{
    transform: scale(2);
}
.modal__inner_register{
    width: 400px;
    height: 450px;
    position: relative;
    margin:auto;
    border-radius: 10px;
    overflow: hidden;

}
.modal__header_register{
    text-align: right;
}

.modal__header_register p{
    margin: 0;
    text-align: center;
    font-size:25px;
    font-weight:bold;
}

.modal__body_register{
    padding: 10px;
    text-align: center;
}
.header_form_register{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_form_register a{
    color: #d79a00cb;
}
.header_form_register a:hover{
    color: #845e00cb;
}

.modal__inner_register input[type=text], .modal__inner_register input[type=password] {
    width: 370px;
    height: 40px; 
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 10px;
    background-color: #f7f5f0;
}


.modal_footer_register{
    padding: 10px;
    text-align: center;
}

.modal_footer_register button{
    font-size: medium;
    color: white;
    padding: 10px 20px;
    background-color: rgb(183,138,40);
    border: none;
    outline: none;
    cursor: pointer;
    width: 270px;
    height: 50px; 
    border-radius: 20px;
    transition: width 1s;
}
.modal_footer_register button:hover{
    background-color: #845e00cb;
    width: 370px;
}
.modal_footer_register p{
    position: relative;
    margin-top: 60px;
}
.modal_footer_register a{
    color: #d79a00cb;
}
.modal_footer_register a:hover{
    color: #845e00cb;
}

.hide{
    display: none;
}

/*Checkbox*/
.container {
    display: block;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    padding-left: 30px;
    text-align: left;
  }
  
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
  }
  
  
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  .container input:checked ~ .checkmark {
    background-color: #d79a00cb;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container .checkmark:after {
    left: 6px;
    top: 4px;
    width: 5px;
    height: 9px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

a.banner{
    display: block;
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
}

.banner span {
    display: block;
    height: 100%;
    background-size: cover;
}



/*Footer page*/

.footer_content{
    width: 100%;
    height: 150px;
    display: block;
}
.title_footer p{
    width: 500px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    margin-bottom: 60px;

}
.title_footer{
    align-items: center;
    text-align: center;
    /* justify-content: center; */
}

.title_footer a{
    text-decoration: none;
    padding: 40px
}
.title_footer a:hover{
    color: #b78a28;
}


/*Back top*/
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    background-color: #d79a00cb;
    color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.back-to-top.show {
    opacity: 1;
    visibility: visible;
}